.recipes-categories-all-btn {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.doneRecipes-page-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(232, 250, 236);
}

.doneRecipes-page-container > * {
  width: 100%;
}

.doneRecipes-categories-container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 12%;
  height: 10%;
  padding-bottom: 32px;
}

.doneRecipes-categories-container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.filter-by-category {
  align-items: center;
  color: #797d86;
  display: flex;
  flex-direction: column;
  font-family: Epilogue, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  gap: 12px;
  width: 16%;
  justify-content: center;
  line-height: normal;
  text-align: center;
}

.doneRecipes-card-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  justify-content: center;
  margin-bottom: 35px;
  max-width: 720px;
  padding: 30px 20px 70px;
  overflow: auto;
}

.doneRecipes-card-container::-webkit-scrollbar {
  width: 8px;
}

.category-item-button {
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  border: 0.08cm solid #fcc436;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  gap: 12px;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.category-item-circle {
  align-items: center;
  background-color: transparent;
  border: 0.08cm solid #fcc436;
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
  display: flex;
  height: 60px;
  width: 60px;
  overflow: hidden;
}

.category-item-circle img {
  max-width: 40px;
}

.filter-by-category:nth-of-type(3) .category-item-circle img {
  max-width: 30px;
}

.link-copy-details {
  position: absolute;
  right: 20px;
  top: 60px;
}

@media screen and (max-width: 768px) {
  .doneRecipes-categories-container {
    margin-top: 24%;
    height: 10%;
  }

  .category-item-circle {
    height: 60px;
    width: 60px;
  }

  .category-item-circle img {
    max-width: 40px;
  }
  .filter-by-category:nth-of-type(3) .category-item-circle img {
    max-width: 30px;
  }
}
