.favRecipes-page-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(232, 250, 236);
}

.favoriteRecipes-categories-container {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 10%;
}

.favorite-cards-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  max-width: 700px;
  padding: 20px;
  padding-bottom: 70px;
  overflow: auto;
}

.favorite-cards-container::-webkit-scrollbar {
  width: 8px;
}

.favoriteRecipes-categories-container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.filter-by-category {
  align-items: center;
  color: #797d86;
  display: flex;
  flex-direction: column;
  font-family: Epilogue, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  justify-content: center;
  line-height: normal;
  text-align: center;
}

.category-item-circle {
  align-items: center;
  background-color: transparent;
  border: 0.08cm solid #fcc436;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 66px;
  justify-content: center;
  width: 66px;
}

@media screen and (max-width: 768px) {
  .favoriteRecipes-categories-container {
    margin-top: 22%;
  }
}
