.profile-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-container h4 {
  color: #1a1b1c;
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 22px;
  text-align: center;
}

.profile-buttons-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  width: 80%;
}

.profile-buttons-container button {
  align-items: center;
  background: transparent;
  border: none;
  border-bottom: 1px solid #b1b1b1;
  color: #797d86;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  gap: 20px;

  /* height: 70px; */
  justify-content: start;
  letter-spacing: 0.48px;
  padding: 27px;
  padding-left: 30px;
  text-transform: capitalize;
  width: 100%;
}

.profile-buttons-container button p {
  margin: 0;
}
