.recipes-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Epilogue , sans-serif;
  justify-content: center;
  padding-bottom: 70px;
  position: relative;
}

.cards-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: center;
  margin: 15px 0;
}

.cards-container a {
  text-decoration: none;
}

.title-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin-top: 75px;
}

.title-container h1 {
  color: #41197f;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 2.1px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}

.categories-container-foods {
  align-items: flex-start;
  display: flex;
  font-size: 12px;
  gap: 9px;
  justify-content: center;
  margin-top: 15px;
  width: 333px;
}

.categories-container-foods button {
  background-color: transparent;
  border: none;
  color: #797d86;
}

.category-item-filter {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  text-align: center;
}

.category-item-circle-foods {
  align-items: center;
  background-color: transparent;
  border: 0.08cm solid #fcc436;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 55px;
  justify-content: center;
  width: 55px;
}
