.details-img-container img {
  height: 161.854px;
  width: 362px;
}

.carousel-sugestions {
  display: flex;
  height: 166px;
  overflow-x: auto;
  width: 100%;
}

.carousel-sugestions a {
  height: -166px;
}

.second-title {
  color: white;
  font-size: 1px;
  text-decoration: none;
}

.start-recipe-btn-container {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.details-start-btn {
  align-items: center;
  background-color: #fcc436;
  border: none;
  border-radius: 5px;
  color: white;
  display: flex;
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  letter-spacing: 0.42px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  width: 336px;
}

.details-iframe-container {
  display: flex;
  justify-content: center;
  padding: 15px;
}

iframe {
  border: none;
  height: 200px;
  width: 100%;
}
