* {
  font-family: epilogue , sans-serif;
}

.photo-title-container {
  height: 162px;
  position: relative;
}

.recipe-photo {
  height: 162px;
  object-fit: cover;
}

.recipe-title {
  color: white;
  font-family: epilogue , sans-serif;
  font-size: 20px;
  font-weight: 900;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.category {
  color: #fcc436;
  font-family: epilogue , sans-serif;
  font-weight: 700;
  left: 10px;
  position: absolute;
  top: 10px;
}

.carousel-sugestions {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 10px;
  padding-top: 10px;
}

h1 {
  font-family: Epilogue , sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.carousel-sugestions h1 {
  padding-left: 25px;
}

.ingredients-container {
  border: 0.518px solid #b1b1b1;
  border-radius: 5px;
  margin: 0 12px;
  padding: 10px;
}

.ingredients-container li {
  color: #1a1b1c;
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 2px 0;
  padding-left: 13px;
}

.instructions-container {
  border: 0.518px solid #b1b1b1;
  border-radius: 5px;
  margin: 0 12px;
}

.instructions-container p {
  color: #1a1b1c;
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 113%;
  margin: 0;
  padding: 12px;
}

.start-recipe-btn-container {
  align-items: center;
  background-color: white;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 12px 25px;
  padding-bottom: 10px;
  position: fixed;
  width: 360px;
  z-index: 10;
}

.btnStart {
  background-color: #fcc436;
  border: none;
  border-radius: 8px;
  bottom: 0;
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0.42px;
  line-height: normal;
  margin: 10px 1px;
  text-align: center;
  text-transform: uppercase;
  width: 336px;

}

.video-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sugestions-cards {
  display: flex;
  margin-bottom: 20px;
  overflow: scroll;
}

.sugestions-cards a {
  font-family: epilogue , sans-serif;
  text-decoration: none;
}

.recipeInProgress-container {
  width: 362.012px;
}

.ingredient-checked {
  text-decoration: line-through solid black;
}

.header-details-container {
  display: flex;
  flex-direction: column;
  height: 162px;
}

.header-details-container img {
  flex-shrink: 0;
  height: 161.854px;
  width: 362.012px;
}

.details-links-container {
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  top: -165px;
  width: 100%;
}

.details-links-container a {
  text-decoration: none;
}

.shareAndLike-container {
  display: flex;
  gap: 10px;
  padding-right: 10px;
  width: 60px;
}

.shareAndLike-container input {
  height: 22px;
}

.category-item-circle-inprogress-container {
  align-items: center;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.category-item-circle-inprogress-container p {
  align-content: center;
  color: #fcc436;
  display: flex;
  font-family: Epilogue , sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: normal;
  padding-top: 20px;
  text-decoration: none;
}

.category-item-circle-inprogress {
  align-items: center;
  background-color: transparent;
  border: 0.06cm solid #fcc436;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 45px;
  justify-content: center;
  width: 45px;
}

.main-detail-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 10px;
  padding-top: 10px;
}

.main-detail-container h1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 10px;
  padding-left: 15px;
  padding-top: 35px;
}

.title-detail-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
  padding-top: 10px;
  position: absolute;
  top: 75px;
  width: 360px;
  z-index: 999;
}

.title-detail-container h1 {
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 2.1px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}

.title-detail-container p {
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2.1px;
  line-height: normal;
  text-align: center;
}
