.recipeInProgress-container {
  padding-bottom: 100px;
  width: 362.012px;
}

.ingredient-checked {
  text-decoration: line-through solid black;
}

.header-inProgress-container {
  display: flex;
  flex-direction: column;
  height: 162px;
}

.header-inProgress-container img {
  height: 162px;
  object-fit: cover;
}

.inProgress-links-container {
  display: flex;
  height: 33px;
  justify-content: space-between;
  padding: 13px 20px;
  position: relative;
  top: -165px;
  width: 100%;
}

.inProgress-links-container a {
  text-decoration: none;
}

.shareAndLike-container {
  display: flex;
  gap: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.shareAndLike-container input {
  height: 22px;
}

.category-item-circle-inprogress-container-2 {
  align-items: center;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.category-item-circle-inprogress-container-2 p {
  align-content: center;
  color: #fcc436;
  display: flex;
  font-family: Epilogue , sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: normal;
  padding-top: 20px;
  text-decoration: none;
}

.category-item-circle-inprogress {
  align-items: center;
  background-color: transparent;
  border: 0.06cm solid #fcc436;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 45px;
  justify-content: center;
  width: 45px;
}

.inProgress-title-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
  padding-top: 10px;
  position: absolute;
  top: 85px;
  width: 360px;
  z-index: 999;
}

.inProgress-title-container h1 {
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 2.1px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}

.inProgress-title-container p {
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2.1px;
  line-height: normal;
  text-align: center;
}

.start-recipe-btn-container button:disabled {
  background-color: #e6e6e6;
  border: none;
  border-radius: 8px;
  bottom: 0;
  color: #a7a7a7;
  cursor: not-allowed;
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  height: 40px;
  letter-spacing: 0.42px;
  line-height: normal;
  margin: 10px 1px;
  text-align: center;
  text-transform: uppercase;
  width: 336px;
}

