.recipes-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Epilogue , sans-serif;
  justify-content: center;
  padding-bottom: 70px;
  position: relative;
}

.cards-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 15px;
}

.title-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  margin-top: 100px;
}

.title-container h1 {
  color: #41197f;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 2.1px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}

.categories-container {
  align-items: center;
  border: 1px solid #413c49;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  justify-content: space-evenly;
  margin-top: 15px;
  width: 333px;
}

.categories-container button {
  background-color: transparent;
  border: none;
  color: #797d86;
}
