.card-container {
  align-items: start;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 166px;
  width: 163px;
}

.card-img img {
  border-radius: 5px 5px 0 0;
  height: 134px;
  position: absolute;
  width: 163px;
  z-index: 2;
}

.card-h2 {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  height: 32px;
  padding-top: 10px;
  position: relative;
  top: 130px;
  width: 163px;
  z-index: 1;
}

.card-h2 h2 {
  color: #1a1b1c;
  font-family: Epilogue , sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 15px;
}
