.footer-container {
  align-items: center;
  background-color: #41197f;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.footer-container img {
  padding: 10px 35px;
}
