.footer-container {
  align-items: center;
  background-color: #41197f;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.footer-container img {
  padding: 10px 35px;
}
