.header-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: -6%;
}

.header-superior {
  align-items: center;
  background-color: #fcdc36;
  display: flex;
  height: 52px;
  justify-content: space-around;
  width: 100%;
  border-radius: 7vw 7vw 0 0;
}

.logo-container {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding-left: 20px;
}

.links-container {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding-right: 15px;
}

.links-container button {
  background-color: #fcdc36;
  border: none;
  color: #41197f;
}

.title-container > img[alt="Meals"] {
  width: 40px;
}

.title-container > img[alt="Drinks"] {
  height: 30px;
  width: 30px;
}

.category-item-circle-foods > img[alt="Ordinary Drink"] {
  /* height: 30px; */
  width: 20px;
}

@media (max-width: 480px) {
  .header-container {
    border-radius: 0;
    /* height: 100%; */
    position: absolute;
    top: 0;
  }
  .header-superior {
    justify-content: space-between;
    border-radius: 0;
    padding: 30px 0;
  }
  .title-container {
    position: relative;
  }
}
