* {
  text-decoration: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* min-width: 360px; */
  min-height: 500px;
  width: 100%;
  max-height: 800px;
}
