* {
  text-decoration: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(196, 195, 155);
}

.phoneFrame {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 91.8%;
  border-radius: 8px;
  z-index: 99;
}

.phoneFrame img {
  display: block;
  width: 100%;
  max-height: 94vh;
  height: 0 auto;
}

.appContent {
  position: absolute;
  top: 7%;
  left: 4.1%;
  width: 91.8%;
  height: 86.2%;
}

.appContent > * {
  width: 100%;
  height: 100%;
}

/* @media (max-width: 888px) {
  .appContent {
    position: absolute;
    top: 7%;
    left: 3.99%;
    width: 91.8%;
    height: 100%;
  }
} */

@media (max-width: 480px) {
  .phoneFrame {
    min-height: 100%;
    min-width: 100%;
    height: auto;
    position: absolute;
    background-color: rgb(229, 236, 215);
  }
  .phoneFrame > img {
    display: none;
    height: 0;
  }

  .appContent {
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
  }
}
